@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin : 0;
    background-color: #FFFFFF;
    position: relative;
    height : max-content;
    transition : .7s;
}

.activities {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.activities .activity {
    max-width: 50%;
}

.activity-title {
    height: inherit;
    font-size: 45px;
    font-weight: 800;
    color: #F05611;
    font-family: 'Raleway', sans-serif;
}

#resa-hotel{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resa-hotel > div.title > h1:nth-child(3){
    height : 45%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    font-family: 'Raleway', sans-serif;
    width: 750px;
    text-align: left;
    margin: 0;
}

.title{
    position: relative;
    height: auto;
}
.title div{
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#resa-hotel > div.title > img.star-icon.star-icon-1{
    top: 90%;
    left: -10%;
}
#resa-hotel > div.title > img.star-icon.star-icon-2{
    top: 0;
    right: 0%;
}

.title h1:first-of-type{
    height: auto;
    font-size: 50px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 15px;
}
.title h1:last-child{
    height: inherit;
    font-size: 90px;
    font-weight: 800;
    color: #F05611;
}
.body{
    height: 55%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.body .image{
    position: relative;
    width: 600px;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ACACAC;
}
#resa-hotel > div.body > h1 {
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    font-size: 300px;
    font-weight: 900;
    color:#000000;
    position: absolute;
    top : -50%;
    left : -11%;
    transform: translate(-60%, 0%);
    opacity: .2;
}

.body .id-hotel{
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
}
.body .id-hotel h1{
    font-size: 70px;
    font-weight: 600;
    color: #000000;
}
.body .id-hotel h2{
    font-size: 30px;
    font-weight: 400;
    color: #000000;
}
.body .id-hotel h3 span{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.body .id-hotel h3{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.body .id-hotel button{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(90deg, #F0A311 0%, #F05611 100%);
    transition: .7s;
}
.body .id-hotel button:hover{
    color: #F0A311;
    border: 2px solid #F0A311;
    background: transparent;
    transition: .7s;
}


.activity {
    border: 5px solid #F0A311;
    padding: 5px;
    margin-top: 40px;
    border-radius: 20px;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.activity h1{
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    top : -100%;
    left : 0%;
}
.activity .id-activity{
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;
}
.activity .id-activity h2{
    margin-left: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    transform: translate(0%, 25%);
}
.activity .id-activity button{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(90deg, #F0A311 0%, #F05611 100%);
    transition: .7s;
}
.activity .id-activity button:hover{
    color: #F0A311;
    border: 2px solid #F0A311;
    background: transparent;
    transition: .7s;
}
.activity .image-activity{
    width: 200px;
    height: 125px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ACACAC;
    position: relative;
    transform: translate(0%, 25%);
}
